/* Dark theme */

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5BCEFF;
    aspect-ratio: 9/16;
    height: 100%;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    max-width: 80%;
    min-width: 80%;
}

.header-upperElements-grid-container {
    position: static;
    height: min-content;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    gap: 3.5vw;
}



.home-main-title {
    aspect-ratio: auto;
    display: flex;
    position: static;
    width: 30vw;
}

.home-left-cloud-container {
    aspect-ratio: auto;
    display: flex;
    position: static;
}

.home-right-cloud-container {
    aspect-ratio: auto;
    display: flex;
    position: static;
}

.rightCloud {
    aspect-ratio: auto;
    width: 18vw;
    position: static;
}

.rightieCloud {
    aspect-ratio: auto;
    position: static;
    width: 8vw;
    padding-bottom: 1vw;
}

.leftCloud {
    aspect-ratio: auto;
    width: 17vw;

}

.leftieCloud {
    aspect-ratio: auto;
    width: 8vw;
    padding-bottom: 6qvw;
}

.home-main-cloud-container {
    aspect-ratio: auto;
}

.main-cloud {
    aspect-ratio: auto;
    position: static;
    overflow: hidden;
    width: 20vw;
}

.home-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    height: fit-content;
    width: 50%;
}

.weather-card-container {
    width: 100%;
}

.home-refreshButton {
    font-weight: 300;
    width: 100%;
    background-color: #0e1425;
}

.scrollArrow-button {
    background-color: #00000000;
}

.scrollArrow-image {
    aspect-ratio: 1/1;
    background-color: #00000000;
    width: 4vw;
}

/* Responsive design */
@media screen and (max-width: 791px) {
    .home-header {
        padding-bottom: 9vh;
    }

    .home-weather-container {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .home-header {
        padding-bottom: 6vh;
    }

    .home-weather-container {
        width: 70%;
    }
}