/* #region Footer */

.footer-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    top: 173vw;
    width: 100vw;
    height: 5vw;
    font-size: 1.2vw;
    color: white;
}

.footer-iconTitle-container {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    margin-left: 4vw;
}

.footer-icon {
    width: 5vw;
}

.footer-title {
    margin-left: 1vw;
}

.footer-credits {
    margin-right: 4vw;
}

/* #endregion */

/* #region Media queries */
@media (max-width: 1023px) {
    .footer-container {
        display: none;
    }
}

/* #endregion */