/*#region Mobile */
@media (max-width: 431px) {
    .mobile-footer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: rgb(15, 15, 15);
        width: 100%;
        height: 20rem;
        font-size: 1rem;
        margin-top: -8.9rem;
        padding-top: 1rem;
    }

    .mobile-footer-iconTitle-container {
        margin-top: 0.3rem;
        display: flex;
        align-items: center;
        margin-left: 0rem;
        font-size: 1.5rem;
    }

    .ducky-footer-logo-icon {
        width: 6rem;
        margin-top: 1rem;
    }

    .mobile-footer-title {
        margin-left: 0rem;
    }

    .mobile-footer-credits {
        margin-top: 1rem;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .share {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .github-icon {
        color: white;
        width: 2.3rem;
    }

    .henry-button {
        padding: 0px;
        margin: 0px;
    }

    .henryIcon {
        width: 3rem;
    }

    .linkedIn-icon {
        color: white;
        width: 3rem;
    }

    .mobile-footer-division-line {
        border: none;
        border-top: 1px solid #ccc;
        height: 1px;
        width: 90%;
        margin-bottom: 1.5 rem;
    }

}

/*#endregion  */

/* #region Footer */
@media (min-width: 431px) {

    .footer-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(15, 15, 15);
        top: 173vw;
        width: 100vw;
        height: 8vw;
        font-size: 1.2vw;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        color: white;
    }

    .footer-iconTitle-container {
        margin-top: 1vw;
        display: flex;
        align-items: center;
        margin-left: 4vw;
    }

    .footer-icon {
        width: 5vw;
    }

    .footer-title {
        margin-left: 1vw;
    }

    .footer-credits {
        margin-right: 4vw;
        margin-left: -4vw;
    }

    .portfolio-link-text {
        font-weight: bold;
        color: #bd43ff;
    }
    .portfolio-link-text:hover {
        color: #d78dff;
    }

    .desktop-share {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0rem;
        gap: 2vw;
    }

    .github-icon-container {
        background-color: none;
    }

    .github-icon {
        color: #9500e4;
        width: 2.8vw;
    }

    .github-icon:hover {
        filter: drop-shadow(0vw 0.2vw 1.2rem rgb(186, 58, 255))
    }

    .henry-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0vw;
        padding: 0vw;
        width: 2.5vw;
        height: 2.6vw;
    }

    .henry-button:hover {
        box-shadow: 0vw 0vw 2.5vw #c5c504;
    }

    .henryIcon {
        width: 2.9vw;
        height: 2.9vw;
        border-radius: 2px;
    }

    .linkedIn-icon-container {
        width: min-content;
        height: min-content;
    }

    .linkedIn-icon {
        color: #0c64c4;
        width: 4vw;
        /* margin-left: 1rem; */
    }

    .linkedIn-icon:hover {
        filter: drop-shadow(0vw 0vw 1vw rgb(0, 170, 255))
    }

}

/* #endregion */

/* #region Media queries */
@media (max-width: 431px) {
    .footer-container {
        display: none;
    }
}

/* #endregion */