.weather-card-container {
    padding: 2vw;
    margin-top: 7vw;
    border-radius: 2vw;
    background-color: rgba(8, 13, 0, 0.852);
}

.weather-card-name-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.weatherCityName {
    font-size: 2.6vw;
    font-weight: 300;
    margin-bottom: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.weatherInfo-icon {
    aspect-ratio: 1/1;
    padding-top: 0.2vw;
    height: 3.8vw;
}

.windFlagIcon {
    aspect-ratio: 1/1;
    height: 1.6vw;
    margin-left: 1vw;
}

.weatherInfo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.weatherInfo-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.weatherInfo-title {
    display: flex;
    font-size: 1.6vw;
    font-weight: 300;
}

.weatherInfo {
    display: flex;
    align-items: center;
    margin: 0vw;
    font-size: 1.6vw;
    font-weight: lighter;
}

strong {
    color: #333;
}

/* .weather-card-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* Light Theme */
@media (prefers-color-scheme: light) {
    .weather-card-container {
        background-color: #f7f7f7;
    }

    .weather-card-name {
        color: #333;
    }

    .weather-card-temperature,
    .weather-card-wind {
        color: #666;
    }

    strong {
        color: #333;
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {

    .weather-card-name {
        color: #fff;
    }

    .weather-card-temperature,
    .weather-card-wind {
        color: #aaa;
    }

    strong {
        color: #fff;
    }
}