/*#region Mobile */
.mobile-weather-card-container {
    position: absolute;
    bottom: 120vw;
    left: 10%;
    width: 80%;
    height: fit-content;
    padding: 2vw;
    margin-top: 7vw;
    border-radius: 2vw;
    background-color: rgba(8, 13, 0, 0.852);
}

.mobile-weather-card-name-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.mobile-weatherCityName {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}

.mobile-weatherInfo-icon {
    aspect-ratio: 1/1;
    padding-top: 0.2vw;
    height: 3.8vw;
}

.mobile-windFlagIcon {
    aspect-ratio: 1/1;
    height: 1.6vw;
    margin-left: 1vw;
}

.mobile-weatherInfo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.mobile-weatherInfo-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.mobile-weatherInfo-title {
    display: flex;
    font-size: 1rem;
    font-weight: 300;
}

.mobile-weatherInfo {
    display: flex;
    align-items: center;
    margin: 0vw;
    font-size: 1rem;
    font-weight: lighter;
}

strong {
    color: #333;
}

/* #endregion */
/*#region Desktop */
.weather-card-container {
    padding: 2vw;
    margin-top: 7vw;
    border-radius: 2vw;
    background-color: rgba(8, 13, 0, 0.852);
}

.weather-card-name-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.weatherCityName {
    font-size: 2.6vw;
    font-weight: 300;
    margin-bottom: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}

.weatherInfo-icon {
    aspect-ratio: 1/1;
    padding-top: 0.2vw;
    height: 3.8vw;
}

.windFlagIcon {
    aspect-ratio: 1/1;
    height: 1.6vw;
    margin-left: 1vw;
}

.weatherInfo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.weatherInfo-container-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

.weatherInfo-title {
    display: flex;
    font-size: 1.6vw;
    font-weight: 300;
}

.weatherInfo {
    display: flex;
    align-items: center;
    margin: 0vw;
    font-size: 1.6vw;
    font-weight: lighter;
}

strong {
    color: #333;
}

/* #endregion */